<html>
<head>
    <link rel="stylesheet" href="/static/css/framework7.ios.css">
    <link rel="stylesheet" href="/static/css/framework7.ios.color.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/framework7.ios.color.css">

</head>
<body>
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding"></div>
    </div>
</div>
<div class="pages">


    <div class="page" data-page="user-register-form">
        <div class="page-content login-screen-content">
            <div class="login-screen-title">Hunter</div>
            <form id="registerform" action="/user/register" method="post">
                <div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">账号</div>
                                <div class="item-input">
                                    <input type="text" placeholder="你的登陆名称" name="login" id="register_login">
                                </div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">密码</div>
                                <div class="item-input">
                                    <input type="password" placeholder="你的密码" name="password" id="register_password">
                                </div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">确认密码</div>
                                <div class="item-input">
                                    <input type="password" placeholder="确认你的密码" name="repassword"
                                           id="register_repassword">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="list-block">
                    <ul>
                        <li><a class="item-link list-button" id="ensure">确认</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
