<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <link rel="SHORTCUT ICON" HREF="favicon.ico">
    <title>Hungter</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="../static/css/framework7.ios.css">
    <link rel="stylesheet" href="../static/css/framework7.ios.color.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/framework7.ios.color.css">
    <link rel="stylesheet" href="/static/css/framework7.ios.css">
    <link rel="stylesheet" href="/static/css/framework7.ios.color.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/framework7.ios.color.css">
{#    <script type="text/javascript">#}
{#        (function () {#}
{#            WgateJs = {};#}
{#            WgateJs.auto_auth = true;#}
{#            var u = (("https:" == document.location.protocol) ? "https" : "http") + "://st.weixingate.com/";#}
{#            u = u + 'st/1743';#}
{#            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];#}
{#            g.type = 'text/javascript';#}
{#            g.defer = true;#}
{#            g.async = true;#}
{#            g.src = u;#}
{#            s.parentNode.insertBefore(g, s);#}
{#        })();#}
{#    </script>#}
{#    <script>#}
{#        alert(WgateJs)#}
{#    </script>#}
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="/static/css/my-app.css">
    <style>
        .list-block ul:before {
            display: none;
        }

        .list-block ul:after {
            display: none;
        }
    </style>
</head>
<body>
<!-- Status bar overlay for fullscreen mode-->
<div class="statusbar-overlay"></div>
<!-- Panels overlay-->
<div class="panel-overlay"></div>
<!-- Left panel with reveal effect-->
<div class="panel panel-left panel-reveal">
    <div class="content-block">
        <div class="content-block-title">产品分类</div>
        <div class="list-block media-list">
            <ul>
                {% for i in range(10) %}
                    <li>
                        <a href="/product/detail/{{ i }}" class="item-link item-content">

                            <div class="item-inner" style="border-bottom: none;">
                                <div class="item-title-row">
                                    <div class="item-title">Yellow Submarine</div>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</div>
<!-- Right panel with cover effect-->
<div class="panel panel-right panel-cover">
    <div class="content-block">
        <div class="content-block-title">推荐产品</div>
        <div class="list-block media-list">
            <ul>
                {% for i in range(10) %}
                    <li>
                        <a href="/product/detail/{{ i }}" class="item-link item-content">
                            <div class="item-media">
                                {#                                    <div style="background-image: url('/static/img/photo{{ i }}.jpg');width:80px"></div>#}
                                <img src="/static/img/photo{{ i }}.jpg" style="width: 80px">
                            </div>
                            <div class="item-inner" style="border-bottom: none;width: 100px">
                                <div class="item-title-row">
                                    <div class="item-title">Yellow Submarine</div>
                                </div>
                                <div class="item-subtitle">Beatles</div>
                                <div class="item-text" style="border: none">Lorem ipsum dolor sit amet...</div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</div>
<!-- Views-->
<div class="views">
    <!-- Your main view, should have "view-main" class-->
    <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar no-border">
            <div class="navbar-inner">
                {#                <!-- We have home navbar without left link-->#}
                {#                <div class=" col-100">#}
                {#                    <form data-search-list=".list-block-search" data-search-in=".item-title"#}
                {#                          class="searchbar searchbar-init col-100">#}
                {#                        <div class="searchbar-input">#}
                {#                            <input type="search" placeholder="Search"><a href="#" class="searchbar-clear"></a>#}
                {#                        </div>#}
                {#                        <a href="#" class="searchbar-cancel">Cancel</a>#}
                {#                    </form>#}
                {#                    <div class="searchbar-overlay col-100" style="width:100%;border:solid red 1px"></div>#}
                {#                </div>#}
                <div class="center sliding">Hunter</div>
            </div>
        </div>
        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
            <!-- Page, data-page contains page name-->
            <div data-page="index" class="page" id="page-index">
                <div class="page-content" style="margin-top: 0;background: #f7f7f8;">
                    <div class="content-block">
                        <div class="row">
                            <div class="col-33 i-center">
                                <a>
                                    <div>
                                        <img src="/static/img/index_icon.png">
                                    </div>
                                    <div>
                                        扫一扫
                                    </div>
                                </a>
                            </div>
                            <div class="col-33 i-center">
                                <a>
                                    <div>
                                        <img src="/static/img/index_icon.png">
                                    </div>
                                    <div>
                                        到付码
                                    </div>
                                </a>
                            </div>
                            <div class="col-33 i-center">
                                <a>
                                    <div>
                                        <img src="/static/img/index_icon.png">
                                    </div>
                                    <div>
                                        周边
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row level1">
                            <div class="col-33 i-center">
                                <a>
                                    <div>
                                        <img src="/static/img/index_icon.png">
                                    </div>
                                    <div>
                                        充值
                                    </div>
                                </a>
                            </div>
                            <div class="col-33 i-center">
                                <a>
                                    <div>
                                        <img src="/static/img/index_icon.png">
                                    </div>
                                    <div>
                                        还款
                                    </div>
                                </a>
                            </div>
                            <div class="col-33 i-center">
                                <a>
                                    <div>
                                        <img src="/static/img/index_icon.png">
                                    </div>
                                    <div>
                                        消费
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row level1">
                            <div class="col-33 i-center">
                                <a>
                                    <div>
                                        <img src="/static/img/index_icon.png">
                                    </div>
                                    <div>
                                        卡次
                                    </div>
                                </a>
                            </div>
                            <div class="col-33 i-center">
                                <a>
                                    <div>
                                        <img src="/static/img/index_icon.png">
                                    </div>
                                    <div>
                                        活动
                                    </div>
                                </a>
                            </div>
                            <div class="col-33 i-center">
                                <a>
                                    <div>
                                        <img src="/static/img/index_icon.png">
                                    </div>
                                    <div>
                                        优惠券
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row level1">
                            <div class="col-33 i-center">
                                <a>
                                    <div>
                                        <img src="/static/img/index_icon.png">
                                    </div>
                                    <div>
                                        签到
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Toolbar-->
        <div class="toolbar tabbar">
            <div class="toolbar-inner">
                <a href="/index" class="link">
                    <div>
                        <i class="fa fa-bank"></i>
                    </div>
                    <div class="icon-info">
                        工作台
                    </div>
                </a>
                <a href="/product/index" class="link">
                    <div><i class="fa fa-building"></i></div>
                    <div class="icon-info">超市</div>
                </a>
                <a href="/cart/index" class="link">
                    <div><i class="fa fa-shopping-cart"></i></div>
                    <div class="icon-info">购物车</div>
                </a>
                <a href="/user/info/index" class="link">
                    <div><i class="fa fa-user"></i></div>
                    <div class="icon-info">我</div>
                </a>
            </div>
        </div>

    </div>
</div>
<!-- Path to Framework7 Library JS-->
<script type="text/javascript" src="/static/js/framework7.min.js"></script>
<!-- Path to your app js-->
<script>
    document.session = {% if session.is_login %}true{% else %}false{% endif %};
</script>
<script type="text/javascript" src="/static/js/my-app.js"></script>

</body>
</html>