<html>
<head>
    <link rel="stylesheet" href="../static/css/framework7.ios.css">
    <link rel="stylesheet" href="../static/css/framework7.ios.color.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/framework7.ios.color.css">

</head>
<body>
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding"></div>
        <div class="right">
            <!-- Right link contains only icon - additional "icon-only" class--><a href="/user/info/form" class="link">
            <i class="fa fa-pencil"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="user-index" class="page">
        <!-- Scrollable page content-->
        <div class="page-content" id="user-index">
            <div style="background-color: white">
                <div style="padding: 20px 0 20px 0;background-image: url('../static/img/user_image_backgroud.jpeg');background-size: 100% auto;">
                    <div style="margin: 0px auto;background-image:url('../static/img/photo1.jpg') ;background-size:auto 100%;background-repeat: no-repeat;background-position: center;width: 120px;height: 120px;border-radius: 50%;overflow: hidden;border:solid silver 1px">
{#                        <img src="../static/img/photo1.jpg" style="margin: 0 auto;width:120px;height:120px">#}
                    </div>
                </div>
                <div style='height: 20px'></div>
                <div class="inforow">
                    <div class="col-20">姓名</div>
                    <div class="col-80">{{ user.name }}</div>
                </div>
                <div class="inforow">
                    <div class="col-20">邮箱</div>
                    <div class="col-80">{{ user.email }}</div>
                </div>
                <div class="inforow">
                    <div class="col-20">生日</div>
                    <div class="col-80">{{ user.birthdate }}</div>
                </div>
                <div class="inforow">
                    <div class="col-20">城市</div>
                    <div class="col-80">{{ user.city }}</div>
                </div>
                <div class="inforow">
                    <div class="col-20">地址</div>
                    <div class="col-80">{{ user.street }}</div>
                </div>
                <div class="inforow">
                    <div class="col-20">积分</div>
                    <div class="col-80">{{ user.credit }}</div>
                </div>
                <div class="inforow">
                    <div class="col-20">等级</div>
                    <div class="col-80">{{ user.level }}</div>
                </div>
                <div class="linkrow">
                    <a href="/address/index">
                            <span>我的地址</span><span style="float: right;vertical-align: bottom;color: gray;">管理交易地址<i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
                <div class="linkrow">
                    <a href="/order/index">
                        <div class="col-40">
                            我的订单
{#                            <span class="fa fa-angle-right" style="float: right;font-size: 20px;vertical-align: bottom;color: gray"></span>#}
                            <span style="float: right;vertical-align: bottom;color: gray;">查看全部订单<i class="fa fa-angle-right"></i></span>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="toolbar tabbar">
        <div class="toolbar-inner">
            <a href="/user/info/index" class="link"><i class="fa fa-user"></i>编辑资料</a>
        </div>

    </div>
</div>

</body>
</html>
