<link rel="stylesheet" href="../static/css/framework7.ios.css">
<link rel="stylesheet" href="../static/css/framework7.ios.color.css">
<link rel="stylesheet" href="../static/css/font-awesome.css">
<link rel="stylesheet" href="../static/css/framework7.ios.color.css">
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding">信息修改</div>
        <div class="right">
            <!-- Right link contains only icon - additional "icon-only" class--><a class="link"> <i
                class="fa fa-save"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="form" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block-title">Form Example</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div style="margin: 0 auto;width: 100px;height: 100px;border-radius: 50%;overflow: hidden;border:solid silver 1px">
                                    <img src="../static/img/photo.jpg" style="margin: 0 auto;width:100px;height:100px">
                                </div>


                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">姓名</div>
                                <div class="item-input">
                                    <input type="text" placeholder="Your name"/>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">邮箱</div>
                                <div class="item-input">
                                    <input type="email" placeholder="E-mail"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">生日</div>
                                <div class="item-input">
                                    <input type="date" placeholder="Birth day" value="2014-04-30"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">地区</div>
                                <div class="item-input">
                                    <input type="text" placeholder="所在省/市/区" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">地址</div>
                                <div class="item-input">
                                    <input type="text" placeholder="具体街道地址"/>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>


        </div>
    </div>
</div>