<link rel="stylesheet" href="../static/css/framework7.ios.css">
<link rel="stylesheet" href="../static/css/framework7.ios.color.css">
<link rel="stylesheet" href="../static/css/font-awesome.css">
<link rel="stylesheet" href="../static/css/framework7.ios.color.css">
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="view view-main">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
        </div>
    </div>
    <div class="pages">
        <!-- Page, data-page contains page name-->
        <div data-page="form" class="page">
            <!-- Scrollable page content-->
            <div class="page-content">
                <div class="list-block media-list">
                    <ul>
                        <li>
                            <label class="label-checkbox item-content">
                                <input type="checkbox" name="ks-media-checkbox" value="1">

                                <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Facebook</div>
                                        <div class="item-after">17:14</div>
                                    </div>
                                    <div class="item-subtitle">New messages from John Doe</div>
                                    <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras
                                        dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros.
                                        Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui
                                        laoreet, commodo augue id, pulvinar lacus.
                                    </div>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label class="label-checkbox item-content">
                                <input type="checkbox" name="ks-media-checkbox" value="2">

                                <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">John Doe (via Twitter)</div>
                                        <div class="item-after">17:11</div>
                                    </div>
                                    <div class="item-subtitle">John Doe (@_johndoe) mentioned you on Twitter!</div>
                                    <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras
                                        dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros.
                                        Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui
                                        laoreet, commodo augue id, pulvinar lacus.
                                    </div>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label class="label-checkbox item-content">
                                <input type="checkbox" name="ks-media-checkbox" value="3">

                                <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Facebook</div>
                                        <div class="item-after">16:48</div>
                                    </div>
                                    <div class="item-subtitle">New messages from John Doe</div>
                                    <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras
                                        dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros.
                                        Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui
                                        laoreet, commodo augue id, pulvinar lacus.
                                    </div>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label class="label-checkbox item-content">
                                <input type="checkbox" name="ks-media-checkbox" value="4">

                                <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">John Doe (via Twitter)</div>
                                        <div class="item-after">15:32</div>
                                    </div>
                                    <div class="item-subtitle">John Doe (@_johndoe) mentioned you on Twitter!</div>
                                    <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras
                                        dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros.
                                        Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui
                                        laoreet, commodo augue id, pulvinar lacus.
                                    </div>
                                </div>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>